.flexbox-container {
    display: flex; /* makes content inside box flexible    */
     flex-wrap: wrap; /* makes content wrap if size is changed, good for mobile devices*/
    justify-content: center; /* puts content to center of screen */
    /* align-items: center; */
    /* align-items: stretch; stretches out items to make them all equal size */
 
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    min-height: 100px;
    flex-shrink: 0; /* makes item not shrink when screen size changes*/
    /* align-self: flex-start; makes the item them min */
}

.flexbox-item-2 {
    min-height: 200px;
    flex-grow: 1; /* makes item fill extra space when screen is big*/
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 1;
}